<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    coreApp="true"
    package="com.checkmate.android">

    <uses-permission android:name="android.hardware.usb.host" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <permission
        android:name="android.permission.MANAGE_DEVICE_ADMINS"
        tools:ignore="ReservedSystemPermission" />
    <permission
        android:name="android.permission.FACTORY_RESET"
        tools:ignore="ReservedSystemPermission" />
    <permission
        android:name="android.permission.BIND_DEVICE_ADMIN"
        tools:ignore="ReservedSystemPermission" />
    <permission
        android:name="android.permission.CLEAR_APP_USER_DATA"
        tools:ignore="ReservedSystemPermission" />
    <permission
        android:name="android.permission.FORCE_STOP_PACKAGES"
        tools:ignore="ReservedSystemPermission" />
    <permission
        android:name="android.permission.REBOOT"
        tools:ignore="ReservedSystemPermission" />
    <permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ReservedSystemPermission" />
    <permission
        android:name="android.permission.INJECT_EVENTS"
        tools:ignore="ReservedSystemPermission" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- Essential Permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_ROUTING" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="com.android.permission.RECORD_AUDIO_CALL" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BACKGROUND_RESTRICTIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" /> <!-- Only needed for API 28 and lower -->
    <uses-permission android:name="android.permission.CAPTURE_VOICE_COMMUNICATION_OUTPUT" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        android:protectionLevel="signature|privileged" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" /> <!-- Only works on rooted devices or system apps -->
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_AUDIO_OUTPUT" />
    <!-- Scoped-storage on Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.PROJECT_MEDIA" android:protectionLevel="signature|privileged"/>
    <uses-permission android:name="android.permission.CAPTURE_VIDEO_OUTPUT" android:protectionLevel="signature|privileged"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" android:protectionLevel="signature|privileged"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER"
        tools:remove="android:protectionLevel"/>

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:sharedUserId="android.uid.system"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"

        tools:replace="android:allowBackup">

        <receiver
            android:name=".receiver.MyRestartReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".RestartActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SoftRestartActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UsbPopupActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/UsbDialogTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.WebActivity"
            android:screenOrientation="portrait" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <!-- <activity -->
        <!-- android:name=".ui.activity.HomeActivity" -->
        <!-- android:label="@string/title_activity_home" /> -->
        <service
            android:name=".service.BgCameraService"
            android:foregroundServiceType="camera|microphone"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.BgCastService"
            android:foregroundServiceType="mediaProjection"
            android:permission="android.permission.FOREGROUND_SERVICE" />
        <service
            android:name=".service.BgAudioService"
            android:foregroundServiceType="camera|microphone"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.BgWifiService"
            android:foregroundServiceType="camera|microphone"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.BgUSBService"
            android:foregroundServiceType="camera|microphone"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".service.MyAccessibilityService"
            android:exported="false"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.PinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ImageViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.VideoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ChessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".util.MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.activity.CameraActivity"
            android:configChanges="screenSize|keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <service android:name=".service.PlayService" />
        <service android:name=".service.LocationManagerService" />
        <service
            android:name=".util.HideNotifListener"
            android:exported="false"
            android:label="Hide Service Notification"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <receiver android:name=".receiver.ScreenReceiver" />
        <receiver android:name=".receiver.WifiBroadcastReceiver" />
        <receiver
            android:name=".receiver.PowerConnectionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.thanosfisherman.wifiutils.wifiState.WifiStateReceiver"
            tools:ignore="Instantiatable" />
        <receiver
            android:name="com.thanosfisherman.wifiutils.wifiConnect.WifiConnectionReceiver"
            tools:ignore="Instantiatable" />
        <receiver
            android:name="com.thanosfisherman.wifiutils.wifiScan.WifiScanReceiver"
            tools:ignore="Instantiatable" /> <!-- Sugar ORM -->
    </application>

</manifest>